.login {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: rgb(250, 250, 250);
}

.login input {
  display: inline-block;
  padding: 9px 0 7px 8px;
  font: 400 13.3333px Arial;
  margin: 0 40px 6px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 24px;
  min-width: 350px;
}

.main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.login button {
  border-radius: 4px;
  background-color: #0095f6;
  color: #fff;
  border: 1px solid transparent;
  font-weight: 600;
  padding: 5px 9px;
  margin: 10px 40px 6px;
  text-align: center;
}

.formstuff {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 10px;
  padding: 10px 0;
}

#logo {
  height: 80px;
  width: 175px;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  margin: 22px auto 12px;
}

.link {
  cursor: pointer;
  color: #0095f6;
}
