.login {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #fafafa;
}

.login input {
  display: inline-block;
  padding: 9px 0 7px 8px;
  font: 400 13.3333px Arial;
  margin: 0 40px 6px;
}

.errors {
  padding: 9px 0 7px 8px;
  font: 400 13.3333px Arial;
  margin: 0 40px 6px;
  color: #ed4956;
  text-align: center;
  font-size: 14px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 24px;
  min-width: 350px;
}

.main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

#icon {
  display: none;
  height: 192px;
  width: 192px;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 99px 0 99px;
  align-self: center;
}

.formstuff {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px 0 10px;
  padding: 10px 0;
  max-width: 350px;
}

.disclaimer {
  color: #8e8e8e;
  font-size: 12px;
  line-height: 16px;
  margin: 10px 40px;
  text-align: center;
}

.switch {
  margin: 0 0 10px;
  padding: 10px 0;
  width: 350px;
  text-align: center;
}

#logo {
  height: 80px;
  width: 175px;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  margin: 22px auto 12px;
}

.link {
  cursor: pointer;
  color: #0095f6;
}

@media (min-width: 450px) {
  .formstuff {
    background-color: #fff;
    border: 1px solid #dbdbdb;
  }

  .switch {
    background-color: #fff;
    border: 1px solid #dbdbdb;
  }
}

@media (min-width: 875px) {
  #icon {
    display: inline-block;
  }
}
