.post main {
  flex-direction: row;
  width: 100%;
  max-width: 935px;
}

.imageContainer {
  background-color: #000;
  min-height: 425px;
  justify-content: center;
  flex-grow: 1;
  padding: 0;
  margin: 0;
}

.imageContainer > * {
  height: auto;
  width: auto;
}

.dataContainer header {
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  border-bottom: 1px solid #efefef;
  background-color: #fff;
}

.dataContainer footer {
  border-top: 1px solid #efefef;
  padding-top: 4px;
  margin-top: 4px;
}

.likeButton {
  margin: 0;
  padding: 0;
  padding: 0 16px;
  display: block;
}

.likeButton svg {
  cursor: pointer;
}

.likes {
  font-weight: 600;
  color: #262626;
  cursor: pointer;
  margin-bottom: 4px;
  padding: 0 16px;
}

.postTime {
  font-size: 10px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #8e8e8e;
  text-transform: uppercase;
  padding: 0 16px;
}

.newComment {
  margin-top: 8px;
  min-height: 56px;
  border-top: 1px solid #efefef;
  font-size: 14px;
  line-height: 18px;
  padding: 0 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.newComment textarea {
  height: 32px;
  background: 0 0;
  border: 0;
  color: #262626;
  outline: 0;
  padding-left: 40px;
  flex-grow: 1;
  resize: none;
  scrollbar-width: none;
}

.newComment textarea::-webkit-scrollbar {
  display: none;
}

.newComment button {
  background: 0 0;
  border: 0;
  color: #0095f6;
  margin: 0;
  padding: 0;
  justify-self: center;
}

.newComment button:disabled {
  opacity: 0.4;
  pointer-events: none;
}

.profilePicContainer {
  height: 32px;
  width: 32px;
  margin-right: 18px;
  flex-shrink: 0;
}

.captionContainer {
  flex-shrink: 1;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.modalSwitch {
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

.text {
  display: block;
}

.text h2 {
  margin: 0 4px 0 0;
  color: #262626;
  padding: 0;
  font-weight: 600;
  font-size: inherit;
  display: block;
}

.text p {
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 15px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.commentContainer {
  width: 335px;
  max-height: 225px;
  height: calc(100%-32px);
  padding: 16px 12px;
  overflow: scroll;
  scrollbar-width: none;
}

.commentContainer::-webkit-scrollbar {
  display: none;
}

.cover {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 100;
  justify-content: center;
  align-items: center;
}

.modalBox {
  width: 260px;
  justify-content: center;
  margin: 20px;
  max-height: calc(100% - 40px);
  flex-shrink: 1;
}

.modalForm {
  border-radius: 12px;
  max-height: 100%;
  overflow: hidden;
  justify-content: center;
  background-color: #fff;
  max-height: 100%;
}

.modalButtons button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  line-height: 1.5;
  margin: 0;
  min-height: 48px;
  padding: 4px 8px;
  text-align: center;
  vertical-align: middle;
  font-weight: 700;
  font-size: 14px;
}

.modalLink {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #dbdbdb;
}

@media (max-width: 650px) {
  .post main {
    flex-direction: column;
  }
}
