.post main {
  flex-direction: row;
  width: 100%;
  max-width: 935px;
}

.imageContainer {
  background-color: #000;
  min-height: 425px;
  justify-content: center;
  flex-grow: 1;
  padding: 0;
  margin: 0;
}

.imageContainer > * {
  height: auto;
  width: auto;
}

.commentContainer {
  width: 335px;
  max-height: 225px;
  height: calc(100%-32px);
  padding: 16px 12px;
  overflow: scroll;
  scrollbar-width: none;
}

.commentContainer::-webkit-scrollbar {
  display: none;
}

@media (max-width: 650px) {
  .post main {
    flex-direction: column;
  }
}
