.navbar {
  position: fixed;
  top: 0;
  background-color: #fff;
  width: 100%;
  z-index: 3;
  height: 54px;
  border-bottom: 1px solid #dbdbdb;
}

.navContent {
  height: 54px;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  cursor: pointer;
}

.logo > img {
  object-fit: contain;
  height: 40px;
}

.navIcons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navIcons svg {
  cursor: pointer;
}

.navIcons svg:not(:first-child) {
  margin-left: 22px;
}

.profilePic {
  width: 22px;
  height: 22px;
  margin-left: 22px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.profilePic > img {
  height: 100%;
  width: 100%;
}

.dropdown {
  top: 54px;
  right: 0;
  position: absolute;
  z-index: 3;
  width: 180px;
  padding: 0 16px;
  background-color: #fff;
  border-radius: 6px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.0975);
}

.dropdownItem {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px 16px;
}

.dropdownItem:hover {
  background-color: #fafafa;
}

.dropdownItem svg {
  margin-right: 12px;
}

.dropdownItem span {
  color: #262626;
}

.logoutButton {
  margin-bottom: 4px;
  cursor: pointer;
  border-top: 1px solid #dbdbdb;
}
